<img width="100%" alt="Miguel Correa title image" src="./assets/header.png">

[![Linkedin Badge](https://img.shields.io/badge/-Mc1221-blue?style=for-the-badge&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/mc1221/)](https://www.linkedin.com/in/mc1221/)
[![Twitter Badge](https://img.shields.io/badge/-@Miguelc1221-1ca0f1?style=for-the-badge&labelColor=1ca0f1&logo=twitter&logoColor=white&link=https://twitter.com/miguelc1221)](https://twitter.com/miguelc1221) 

---
I’m a Front-End Developer with a passion for creating attractive user-friendly applications. I have a great deal of interest in all things JavaScript and UI/UX design despite the fact I am not a designer **yet**. This year I plan on writing more and hopefully getting over my fear of public speaking 😧.

<img width="100%" alt="Interests title image" src="./assets/interests.png">

- Reading Comics and Manga 
- Collecting [Sixth Scale Figures](https://www.sideshow.com/)
- Video Games
  - [Starcraft 2](https://starcraft2.com/en-us/)
  - [Warcraft 3](https://playwarcraft3.com/en-us/)
  - [League of Legends](https://www.leagueoflegends.com/en-us/)
- Hiking
- Biking

<img width="100%" alt="Interests title image" src="./assets/comics.png">

<details>
  <summary>Comics (Click to expand)</summary>

{{ data }}

</details>